@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
applet, object, iframe, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, eal, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, caption, img, header, container {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  background: #222;
  color: #aaa;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.logo {
  margin-top: 10px;
  margin-bottom: 5px;
  max-width: 240px;
}

.hero {
  padding: 0 !important;
}

.fltrgt {
  float: right;
}

.billboard {
  /*style="background-image:url('https://image.tmdb.org/t/p/original/{{hero.poster_path}}');"*/
  background: url(../img/hero.jpg) no-repeat 0 0;
  background-position: center center;
  min-height: 600px;
  margin-bottom: 30px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #666;
}

h1.heading {
  font-size: 30px;
  text-transform: uppercase;
}

.col-sm-12.heading_col {
  height: 70px;
}

.form-group.select {
  margin-bottom: 0;
}

select {
  position: relative;
  bottom: 30px;
}

.heading_col {
  margin-bottom: 0;
}

input.btn {
  background: #297cc1 !important;
  color: #fff;
}

p.error {
  color: tomato;
}

.header {
  background: #141414;
}
.header .container {
  position: relative;
}

.movies {
  border-bottom: 1px solid #555;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

#searchMovieForm {
  margin-top: 30px;
  margin-bottom: 7px;
}
#searchMovieForm .form-group {
  margin-bottom: 0;
}
#searchMovieForm .form-holder {
  margin-bottom: 0;
  border: 1px solid #303030;
  background: #000;
  height: 42px;
  margin-bottom: 10px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
#searchMovieForm input.form-control {
  background: #000;
  border: none;
  float: left;
  width: 75%;
  height: 40px;
  color: #ddd;
}
#searchMovieForm input.btn {
  float: left;
  width: 25%;
  height: 40px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
#searchMovieForm input.btn:hover, #searchMovieForm input.btn:active {
  color: #fff;
  background-color: #3089d3 !important;
}

.ng-invalid-required.ng-submitted .form-holder {
  border: 1px solid tomato !important;
}

#results {
  background: #303030;
  padding: 20px 10px;
  padding-bottom: 0;
  position: absolute;
  z-index: 99999;
  width: 100%;
}
#results h2 {
  margin-bottom: 20px;
  margin-left: 20px;
}

.closeBtn {
  color: #ddd;
  position: absolute;
  right: 5px;
  top: 0;
}
.closeBtn:hover {
  color: #aaaaaa;
}

.bg_container {
  padding: 0;
  background-attachment: fixed;
  min-height: 500px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.bg {
  position: fixed;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  max-width: 100%;
}

.result_image img, .seasons img {
  margin-bottom: 5px;
  border: 1px solid #222;
}
.result_image img:hover, .seasons img:hover {
  -webkit-box-shadow: 0 3px 5px #111111;
  -moz-box-shadow: 0 3px 5px #111111;
  box-shadow: 0 3px 5px #111111;
  border: 1px solid #666;
}

.tv_details .seasons img {
  margin-top: 15px;
}
.tv_details .seasons p {
  text-align: center;
  margin-bottom: 3px;
}

.poster {
  margin-top: 30px;
  margin-bottom: 50px;
  border: 3px solid #888;
  position: relative;
  bottom: 170px;
}

.poster.poster_orgpos {
  bottom: 0;
}

.actor {
  border-top: 1px solid #333;
  padding-top: 30px;
}
.actor p.overview {
  line-height: 1.8em;
  margin-top: 30px;
  margin-bottom: 45px;
}
.actor .preview_poster {
  min-height: 185px;
}

.colorbg {
  background: #141414;
  padding: 20px;
  overflow: auto;
  margin-bottom: 30px;
}

.actor_details .colorbg {
  margin-top: 30px;
  padding-bottom: 30px;
}

.featuredin {
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 40px;
  overflow: auto;
}
.featuredin.nobdr {
  margin-top: 0;
  padding-top: 25px;
  border-top: none;
}

iframe {
  margin-top: 20px;
}

.year_aired {
  margin-bottom: 30px;
  font-style: italic;
  font-weight: 500;
}

h2.title {
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 3px;
  font-size: 30px;
  text-transform: uppercase;
  color: #ddd;
}
h2.title span.episode_name {
  text-transform: none;
}

h3.section_heading {
  margin-bottom: 20px;
  margin-left: 15px;
  font-weight: 800;
  font-size: 22px;
  color: #b8edff;
}

.embed-responsive {
  margin-top: 30px;
  margin-bottom: 70px;
}

.result_title {
  background: rgba(0, 0, 0, 0.8);
  background: #297cc1;
  position: relative;
  bottom: 67px;
  padding-bottom: 15px;
}

.result_main {
  position: relative;
  bottom: 67px;
  background: #222;
}
.result_main .list-group {
  position: relative;
  bottom: 170px;
}

#overview.movie_details {
  margin-bottom: 0px;
}

.movie_details, .tv_details {
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: auto;
}
.movie_details h2.title, .tv_details h2.title {
  margin-top: 15px;
}
.movie_details p, .tv_details p {
  margin-bottom: 7px;
}
.movie_details p.genres, .tv_details p.genres {
  margin-bottom: 30px;
}
.movie_details p.overview, .tv_details p.overview {
  margin-bottom: 30px;
  line-height: 1.8em;
}
.movie_details p .plabel, .tv_details p .plabel {
  color: #b8edff;
}
.movie_details .rating, .tv_details .rating {
  margin-bottom: 20px;
  background: #297cc1;
  color: #fff;
  padding: 2px;
  max-width: 55px;
  font-size: 15px;
}
.movie_details .rating p, .tv_details .rating p {
  margin-bottom: 0;
  text-align: center;
}
.movie_details .movie_images img, .tv_details .movie_images img {
  margin: 10px;
}
.movie_details .castmember, .movie_details .seasons, .tv_details .castmember, .tv_details .seasons {
  min-height: 360px;
}
.movie_details .castmember img, .movie_details .seasons img, .tv_details .castmember img, .tv_details .seasons img {
  margin-bottom: 5px;
  margin-top: 10px;
  border: 1px solid #222;
}
.movie_details .castmember img:hover, .movie_details .seasons img:hover, .tv_details .castmember img:hover, .tv_details .seasons img:hover {
  border: 1px solid #666;
}
.movie_details .castmember p, .movie_details .seasons p, .tv_details .castmember p, .tv_details .seasons p {
  margin-bottom: 5px;
  text-align: center;
}
.movie_details .castmember p b, .movie_details .seasons p b, .tv_details .castmember p b, .tv_details .seasons p b {
  color: #297cc1;
}

.actor_details p {
  margin-bottom: 7px;
}
.actor_details p .plabel {
  color: #b8edff;
}

h3.tagline {
  font-style: italic;
  font-size: 17px;
  color: #b8edff;
}

.recommended {
  border-top: 1px solid #444;
  padding-top: 50px;
  clear: both;
}

.episodes {
  margin-top: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #555;
  padding-bottom: 10px;
}
.episodes .name {
  font-size: 16px;
  font-weight: 700;
}
.episodes .name span {
  color: #b8edff;
  font-weight: 700;
}
.episodes .air_date {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 20px;
}
.episodes span {
  font-weight: 500;
  font-style: italic;
}

.episode_thumbnail {
  margin: 0 auto;
  margin-bottom: 15px;
  display: block;
  border: 1px solid #222;
}
.episode_thumbnail:hover {
  border: 1px solid #555;
}

.season_episode {
  margin-bottom: 10px;
}

select {
  color: #333;
}

@media handheld, only screen and (min-width: 1200px) {
  .preview_poster {
    min-height: 276px;
    margin-bottom: 10px;
  }
}
@media handheld, only screen and (max-width: 1200px) {
  .preview_poster {
    margin-bottom: 25px;
  }

  .actor .preview_poster {
    min-height: 140px;
  }

  .movie_details .castmember, .movie_details .seasons, .tv_details .castmember, .tv_details .seasons {
    min-height: 310px;
  }
}
@media handheld, only screen and (max-width: 991px) {
  .movie_details .castmember, .movie_details .seasons, .tv_details .castmember, .tv_details .seasons {
    min-height: 250px;
  }

  .actor .preview_poster {
    min-height: 80px;
  }

  .bg_container, .billboard {
    min-height: 420px;
    background-attachment: scroll;
  }

  .billboard {
    background-size: 200%;
  }

  .poster {
    margin-top: 0;
  }
}
@media handheld, only screen and (max-width: 768px) {
  .logo {
    margin: 0 auto;
    margin-top: 15px;
  }

  #searchMovieForm {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .movie_details .castmember, .movie_details .seasons, .tv_details .castmember, .tv_details .seasons {
    min-height: 280px;
  }

  .movie_details .castmember {
    min-height: 310px;
  }

  .result_main .list-group {
    bottom: 0px;
    margin-top: 40px;
  }

  .bg_container, .billboard {
    min-height: 400px;
    background-attachment: scroll;
  }

  .billboard {
    background-size: 185%;
  }

  h2.title {
    font-size: 27px;
  }

  h3.tagline {
    font-size: 16px;
  }

  .movie_details, .result_main, .nopadmob {
    padding: 0;
  }

  .episodes {
    padding: 0 15px;
  }
  .episodes p {
    text-align: center;
  }
}
@media handheld, only screen and (max-width: 630px) {
  .billboard {
    background-size: 175%;
  }

  .bg_container, .billboard {
    min-height: 330px;
  }
}
@media handheld, only screen and (max-width: 498px) {
  .billboard {
    background-size: 165%;
  }

  .bg_container, .billboard {
    min-height: 230px;
  }

  .logo {
    max-width: 185px;
  }

  #searchMovieForm {
    margin-top: 10px;
  }
}
@media handheld, only screen and (max-width: 320px) {
  .billboard {
    background-size: 175%;
  }

  .bg_container, .billboard {
    min-height: 210px;
  }
}
