applet, object, iframe,body,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, eal, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dd, dl, dt, li, ol, ul,fieldset, form, label, legend, caption,img, header, container {
    margin: 0;
    padding: 0;
    outline:none;
    border: none;
    box-sizing: border-box;
}

@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
$blue:#297cc1;
$light_blue:#b8edff;

body{
    background: #222;
    color:#aaa;
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
}

.logo{
	margin-top: 10px;
	margin-bottom: 5px;
	max-width:240px;
}

.hero{	
	padding: 0 !important;
}

.fltrgt{
    float: right;
}

.billboard{
	// background: url(../img/hero.jpg) no-repeat 0 0;
	background-position: center center;
	// background-size:cover;
	min-height: 639px;
	margin-bottom: 30px;
	border-top: 1px solid #111;
	border-bottom:1px solid #666;
}

h1.heading{
	font-size: 30px;
	text-transform: uppercase;
}

.col-sm-12.heading_col {
    height: 70px;
}

.form-group.select{
	margin-bottom: 0;
}

select{
	position:relative;
	bottom:30px;
}

.heading_col{
	margin-bottom: 0;
}

input.btn{
	background: $blue !important;
	color: #fff;
}

p.error{
	color: tomato;
}

.header{
	background:#222;
	.container{
		position:relative;
	}
}

.movies{
	border-bottom:1px solid #555;
	padding-bottom: 20px;
	margin-bottom: 50px;
}

#searchMovieForm{
	margin-top: 30px;
	margin-bottom: 7px;
	
	.form-group{
		margin-bottom: 0;
	}

	.form-holder{
		margin-bottom: 0;
		border: 1px solid darken(#3f3f3f,4%);
		background: #000;
		height: 42px;
		margin-bottom: 10px;
		@include border-radius(0 5px 5px 0);
	}
	
	input.form-control{
		background: #000;
		border: none;
		float: left;
		width: 75%;
		height: 40px;
		color:#ddd;
	}

	input.btn{
		float: left;
		width: 25%;
		height: 40px;
		@include border-radius(0 5px 5px 0);

		&:hover,&:active{
			color:#fff;
			background-color: lighten($blue,5%) !important;
		}
	}
}

.ng-invalid-required.ng-submitted .form-holder{
	border:1px solid tomato !important;
}

#results{
	background: #303030;
	padding: 20px 10px;
	padding-bottom: 0;
	position:absolute;
	z-index:99999;
	width:100%;

	h2{
		margin-bottom: 20px;
		margin-left: 20px;
	}
}

.closeBtn{
	color:#ddd;
	position: absolute;
	right: 5px;
	top: 0;

	&:hover{
		color:darken(#ddd, 20%);
	}
}

.bg_container{
	padding: 0;
	background-attachment: fixed;
	min-height:500px;
	background-size:cover;
	background-position: top center;
	background-repeat:no-repeat;
}

.bg{
    position: fixed;
    @include opacity(0.3);
    max-width: 100%;
}

.result_image img, .seasons img{
	margin-bottom: 5px;
	border:1px solid #222;
	&:hover{
		@include box-shadow(0 3px 5px #111);
		border: 1px solid #666;
	}
}

.tv_details .seasons{

	img{
		margin-top: 15px;
	}

	p{
		text-align: center;
		margin-bottom: 3px;
	}
}

.poster{
	margin-top:30px;
	margin-bottom: 50px;
	border:3px solid #888;
	position:relative;
	bottom:170px;
}

.poster.poster_orgpos{
	bottom:0;
}

.actor{
	background:#141414;
	border-top:1px solid #333;
	padding-top: 30px;

	p.overview{
		line-height:1.8em;
		margin-top: 30px;
	}

	.preview_poster{
		min-height:185px;
	}
}

.featuredin{
	margin-top: 40px;
	border-top:1px solid #444;
	padding-top: 50px;
}

.year_aired{
	margin-bottom: 30px;
	font-style:italic;
	font-weight: 500;
}

h2.title{
	font-weight: 800;
	margin-top: 15px;
	margin-bottom: 3px;
	font-size: 30px;
	text-transform:uppercase;
	color:#ddd;
	
	span.episode_name{
		text-transform:none;
	}	
}

h3.section_heading{
	margin-bottom: 20px;
	margin-left: 15px;
	font-weight: 800;
	font-size: 22px;
	color:$light_blue;
}

.embed-responsive{
	margin-top: 30px;
	margin-bottom: 70px;
}

.result_title{
	background:rgba(0,0,0,0.8);
	background:$blue;
	position:relative;
	bottom:67px;
	padding-bottom: 15px;
}

.result_main{
	position:relative;
	bottom:67px;
	background:#222;

	.list-group{
		position:relative;
		bottom:170px;
	}
}

.movie_details, .tv_details{
	// background: rgba(0,0,0,0.8);
	margin-top: 40px;
	margin-bottom: 50px;

	h2.title{
		margin-top: 15px;
	}

	p{
		margin-bottom: 7px;

		&.genres{
			margin-bottom: 30px;
		}

		&.overview{
			margin-bottom: 30px;
			line-height:1.8em;
		}

		.plabel{
			color:$light_blue
		}
	}
	
	.rating{
		margin-bottom: 20px;
		background:$blue;
		color:#fff;
		padding:2px;
		max-width:55px;
		font-size: 15px;

		p{margin-bottom: 0;text-align: center;}
	}

	.movie_images img{
		margin: 10px;
	}

	.castmember, .seasons{
		min-height: 360px;

		img{
			margin-bottom: 5px;
			margin-top: 10px;
			border:1px solid #222;

			&:hover{
				border: 1px solid #666;
			}
		}

		p{
			margin-bottom: 5px;
			text-align: center;
			b{
				color:$blue;
			}
		}
	}
}

.actor_details{
	p{
		margin-bottom: 7px;
		.plabel{
			color:$light_blue;	
		}
	}
}

.season_overview{
	p.overview{
		margin-bottom: 50px;
	}
}


h3.tagline{
	font-style:italic;
	font-size:17px;
	color:$light_blue;
}

.recommended{
	border-top:1px solid #444;
	padding-top: 50px;
}

.episodes{
	margin-top: 20px;
	margin-bottom: 30px;
	border-bottom:1px solid #555;
	padding-bottom: 10px;
	
	.name{
		font-size: 16px;
		font-weight: 700;

		span{
			color:$light_blue;
			font-weight: 700;
		}
	}
	.air_date{
		font-size: 13px;
		font-style:italic;
		margin-bottom: 20px;
	}

	span{
		font-weight: 500;
		font-style:italic;
	}
}

.episode_thumbnail{
	border:1px solid #222;
	&:hover{
		border:1px solid #555;
	}
}

.season_episode{
	margin-bottom: 10px;
}

@media handheld, only screen and (min-width: 1200px) { 
	.preview_poster{
		min-height:276px;
		margin-bottom: 10px;
	}
}

@media handheld, only screen and (max-width: 1200px) { 
	.preview_poster{
		margin-bottom: 25px;
	}
}

@media handheld, only screen and (max-width: 768px) { 
	.logo{
		margin: 0 auto;
		margin-top: 15px;
	}

	#searchMovieForm{margin-top: 20px;margin-bottom: 20px;}
}



@media handheld, only screen and (max-width: 498px) { 
	.bg_container{
		min-height:320px;
		background-attachment:scroll;
	}

	.logo{
		max-width:185px;
	}

	#searchMovieForm{
		margin-top: 10px;
	}
}


